<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sumativa 1{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'app1:v1_app1' %}">App1 - Vista 1</a></li>
            <li><a href="{% url 'app1:v2_app1' %}">App1 - Vista 2</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <p>&copy; 2026 Sumativa 1</p>
    </footer>
</body>
</html>